.cell {
	height: 100%;
	width: 100%;
	background-color: white;
	outline: 2px solid #888;
	/* border-radius: 5px; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	color: rgb(49, 49, 49);
	user-select: none;
	font-weight: lighter;
}

.cell--winner {
	color: rgb(210, 40, 40);
}

.cell:hover {
	cursor: pointer;
	outline-color: rgb(61, 94, 183);
	background-color: rgb(242, 240, 255);
	color: rgb(61, 94, 183);
}

.cell--is-filled:hover {
	cursor: auto;
	outline-color: #888;
	background-color: rgb(236, 236, 236);
	color: #888;
}
